html,body {
    height: 100%;
    width: 100%;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gold;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid gray;
    border-top-color: gold;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from {transform: rotate(0turn)}
    to {transform: rotate(1turn)}
    
}
#gallery {
    background: gold;
    display: table;
    height: 25%;
    position: relative;
    width: 100%;
    background-size: cover;
}


.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700%;
}
.buttonbox{
    background-color: gold;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.info{
    font-size: 25px;
}
.padding {
    padding: 80px 0;
    vertical-align: middle;
}
.padding img {
    width: 100%;
}
.back-page {
    background-color: gold;
    text-align: center;
}
.pagination{
    margin: 30px 30px 60px;
    user-select: none;
}
.pagination a{
    color: gold;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;

}
.page-prev, .page-next{
    background: gray;
    padding: .3rem;
    width: 500px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;

}
.active{
    background: yellow;
    color: gray;
    padding: .3rem;
    width: 200px;
    border-radius: 45px;
}
.disable{
    background: lightgrey ;
}


.page-current, .page-dots{
    background: gray;
    padding: .3rem;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;

}

.button{
    background-color: gray;
    color: gold;
    padding: .5rem;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    
    
}

img {max-width: 100%;}
.portfolio {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    padding: 3em;
    background: #ccc;

}
.portfolio__item {
    background: white;
    
}
.portfolio__desc {
    padding: 1em;
}
.portfolio__title {
    font-size: 1.5em;
    margin-top: 0;
}
@media (max-width: 768px){
    .landing-text h1 {
        font-size: 200%;
        font-weight: 300%;
    }
   
    
    .button-small {
        background-color: gray;
        color: gold;
        padding: .3rem;
        border-radius: 20px;
        text-decoration: none;
        position: relative;
    }
    .port-desc {
        text-align: center;
        font-size: 8PX;
        position: relative;
        z-index: 1;
        bottom: 0em;
        left: .1em;
        right: .1em;
        color: white;
        background: rgba(0,0,0,.75);
        padding: .2em;
    }
    .portfolio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em;
        padding: 3em;
        background: #ccc;
    }
    
}
